<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Juniour Railway Institute</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if(user.role === "admin"){ %>
          <li class="nav-item">
          <a
            class="nav-link <%= location == '/admin' ? 'active':'' %>"
            href="/admin"
            >Admin</a
          >
        </li>
        <% } %>
        <li class="nav-item">
          <a
            class="nav-link <%= location == '/booking/new' ? 'active':'' %>"
            href="/booking/new"
            >Add</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link <%= location == '/booking/view' ? 'active':'' %>"
            href="/booking/view"
            >View</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Action
          </a>
          <ul class="dropdown-menu">
            <li>
              <button class="dropdown-item" id="theme-toggle">
                Change theme
              </button>
            </li>
            <li>
              <button
          type="button"
          class="dropdown-item"
          data-bs-toggle="modal"
          data-bs-target="#passwordChange"
        >
          Change Password
        </button>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <!-- Button trigger modal -->
              <button
                type="button"
                class="dropdown-item"
                data-bs-toggle="modal"
                data-bs-target="#logoutConfirmation"
              >
                Logout
              </button>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div
  class="modal fade"
  id="logoutConfirmation"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div> -->
      <div class="modal-body">Are you sure you want to logout?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <form action="/logout" method="post">
          <button type="submit" class="btn btn-warning">Proceed</button>
        </form>
      </div>
    </div>
  </div>
</div>




        <!-- Modal -->
        <div
          class="modal fade"
          id="passwordChange"
          tabindex="-1"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                  Change Password
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <form action="/passwd" method="post">
                <div class="modal-body">

                  <div class="mb-3">
                    <label for="currentPassword" class="form-label"
                      >Current Password</label
                    >
                    <input
                      type="password"
                      class="form-control"
                      id="currentPassword"
                      name="currentPassword"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="newPassword" class="form-label"
                      >New Password</label
                    >
                    <input
                      type="password"
                      class="form-control"
                      id="newPassword"
                      name="newPassword"
                    />
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button type="submit" class="btn btn-primary">
                    Save changes
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>